:root {
    --color-white: #fff;
    --color-grey: #616161;
    --color-grey1: #d3d3d3;
    --color-blue: #2196f3;
    --color-red: #f44336;
    --color-orange: #ff9800;
    --color-green: #4caf50;
    --color-purple: #5e36d1;
}

.o_kanban_details {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    min-height: 5em;
}

.o_kanban_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.o_kanban_milestone {
    display: flex;
    top: 10px;
    left: 10px;
    font-style: italic;
    min-height: 1.5em;
}

.o_kanban_weight {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.o_kanban_weight .fa {
    margin-right: 5px;
}

.o_kanban_status {
    font-size: 0.8em;
    padding: 2px 8px;
    color: var(--color-white);
    border-radius: 12px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 8px;
}

.o_kanban_status_container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    border-top-left-radius: 5px;
}

.o_kanban_line {
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-grey);
}

.o_kanban_status_on_track {
    background-color: var(--color-green);
}

.o_kanban_status_at_risk {
    background-color: var(--color-orange);
}

.o_kanban_status_delayed {
    background-color: var(--color-red);
}

.o_kanban_status_on_hold {
    background-color: var(--color-blue);
}

.o_kanban_status_done {
    background-color: var(--color-purple);
}

.o_kanban_status_low {
    background-color: var(--color-grey);
}

.o_kanban_status_medium {
    background-color: var(--color-blue);
}

.o_kanban_status_high {
    background-color: var(--color-red);
}

.oe_kanban_global_click.o_kanban_disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: var(--color-grey1);
    pointer-events: none;
}

.issue-button-row {
    margin-right: 10px;
}